﻿@model ProductManager.Models.SpecSheetViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="grid">
    <div class="row cell-auto-size">
        <div class="cell">
            <h2>Vendor Spec</h2>
            <form id="vendorSpecForm" action="/SpecSheet/Generate" method="post" targetpage='#specSheetPage' class="place-left"
                  message="Regenerated Successfully|The vendor spec was regenerated">

                @Html.HiddenFor(x => x.BasePartNumber)
                @Html.Hidden("Type", "Vendor")
                <button class="button" type="button" onclick="generateVendorSpec()">
                    <span class="fa fa-refresh"></span>
                </button>
            </form>

            @if (Model.VendorSpecExists)
            {
                using (Html.BeginForm("Download", "SpecSheet", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.BasePartNumber)
                    @Html.Hidden("Type", "Vendor")
                    <button class="button" type="submit">
                        <span class="fa fa-download"></span>
                    </button>
                }
            }
        </div>
        <div class="cell">
            <h2>Customer Spec</h2>
            <form id="customerSpecForm" action="/SpecSheet/Generate" method="post" targetpage='#specSheetPage' class="place-left"
                  message="Regenerated Successfully|The customer spec was regenerated">

                @Html.HiddenFor(x => x.BasePartNumber)
                @Html.Hidden("Type", "Customer")
                <button class="button" type="button" onclick="generateCustomerSpec()">
                    <span class="fa fa-refresh"></span>
                </button>
            </form>

            @if (Model.CustomerSpecExists)
            {
                using (Html.BeginForm("Download", "SpecSheet", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.BasePartNumber)
                    @Html.Hidden("Type", "Customer")
                    <button class="button" type="submit">
                        <span class="fa fa-download"></span>
                    </button>
                }
            }
        </div>
    </div>
</div>


