﻿@model ProductManager.Models.HistoryDetailViewModel

<div class="form-horizontal">
    @Html.LabelFor(model => model.Property)
    <div class="input-control text full-size" data-role="input">
        @Html.TextBoxFor(model => model.Property, new { @readonly = "readonly" })
    </div>
    <br />
    <br />
    @Html.LabelFor(model => model.OriginalValue)
    <div class="input-control textarea full-size" data-role="input">
        @Html.TextAreaFor(model => model.OriginalValue, new { @readonly = "readonly" })
    </div>
    <br />
    <br />
    @Html.LabelFor(model => model.NewValue)
    <div class="input-control textarea full-size" data-role="input">
        @Html.TextAreaFor(model => model.NewValue, new { @readonly = "readonly" })
    </div>
    <br />
    <br />
</div>