﻿@model ProductManager.Models.CreatePhotoViewModel
<div class="content-pad-15 popup" id="photoDialog">
    <form id="photoForm" action="/Photo/Create" method="post" targetpage="#photosPage"
          message="Saved Successfully|The photo was saved" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.BasePartNumber)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label>Select file to upload</label>
        <br />
        <div class="input-control file full-size" data-role="input">
            <input type="file" name="File" id="photoUploadFile">
            <button class="button"><span class="fa fa-folder-open"></span></button>
        </div>
        <br />
        <label>Type</label>
        <br />
        <div class="input-control select">
            <select name="Type">
                <option>Additional</option>
                <option>Website</option>
                <option>Carton Marking</option>
                <option>Case Bumper</option>
                <option>Hang Tag</option>
                <option>Neck Label</option>
                <option>Vendible Instructions</option>
            </select>
        </div>
        <br />
        @Html.LabelFor(model => model.AssociatedText, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="input-control text full-size" data-role="input">
            @Html.TextAreaFor(model => model.AssociatedText)
            @Html.ValidationMessageFor(model => model.AssociatedText, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="button" class="button place-right" onclick="savePhoto('#photoForm')">Create</button>
    </form>
</div>