﻿@model ProductManager.Models.PhotosViewModel
<h3 class="thin">Primary Photo (Click to Change)</h3>
<a href="#" onclick="changePrimaryPhoto()">
    @if (Model.Photos.Any(x => x.Type == "Primary"))
    {
        var photo = Model.Photos.First(x => x.Type == "Primary");
        <img id="primaryPhoto" src='../../Content/images/ProductImages/@photo.Name' onerror="this.src = '../../Content/images/ProductImages/default.png'" height="250" width="250" alt="photo" />
    }
    else
    {
        <img id="primaryPhoto" src='../../Content/images/ProductImages/default.png' height="250" width="250" alt="photo" />
    }
</a>
<form id="primaryPhotoForm" action="/Photo/Create" method="post" targetpage="#photosPage"
      message="Saved Successfully|The primary photo was updated" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.BasePartNumber)
    @Html.Hidden("AssociatedText", "Primary Photo")
    @Html.Hidden("Type", "Primary")
    <input type="file" name="File" id="primaryPhotoFile" style="display:none" onchange="savePhoto('#primaryPhotoForm')" accept="image/*" />
</form>
@{Html.RenderPartial("_CreatePartial", new ProductManager.Models.CreatePhotoViewModel()
    {
        BasePartNumber = Model.BasePartNumber
    });}
<div id="dropimage">
    Drop your Files here
</div>
<style type="text/css">
    #dropimage {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<div class="content-pad-15 popup" id="photoDetailDialog">
    <div id="photoDetail"></div>
</div>
<h3 class="thin">Other Photos</h3>
<p>
    <a href="#" onclick="showDialog('#photoDialog', 'Add Photo', 'fa-photo', 600, 375)">Add New</a>
</p>
<table id="photosTable" class="table hovered border bordered striped">
    <tr>
        <th>
            Photo
        </th>
        <th>
            File Name
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>
    @foreach (var photo in Model.Photos.Where(x => x.Type != "Primary"))
    {
        <tr class="clickable-row" onclick="viewPhotoDetail('@photo.ID')">
            <td>
                <img height="60" width="60" class="place-left" src='../../Content/images/ProductImages/Thumbnails/@photo.Name' onerror="this.src = '../../Content/images/ProductImages/Thumbnails/default.png'" alt="photo" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => photo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => photo.Type)
            </td>
            <td>
                <button type="button" class="button fa fa-remove place-right" onclick="removePhoto(event, '@photo.ID')"></button>
            </td>
        </tr>
    }
</table>
