﻿@model ProductManager.Models.TechPackDesignViewModel

@Html.LabelFor(x => x.IncludeItemOnSpec)
@Html.CheckBoxFor(x => x.IncludeItemOnSpec)
<br />
<br />

Warning Labels
<br />
@foreach (var item in Model.WarningLabels)
{
    <label class="input-control checkbox">
        @Html.CheckBoxFor(model => model.WarningLabels[item.Key])
        <span class="check"></span>
        <span class="caption">@item.Key</span>
        @Html.ValidationMessageFor(model => model.WarningLabels[item.Key])
    </label>
    <br />
}

<br />
Violators
<br />
@foreach (var item in Model.Violators)
{
    <label class="input-control checkbox">
        @Html.CheckBoxFor(model => model.Violators[item.Key])
        <span class="check"></span>
        <span class="caption">@item.Key</span>
        @Html.ValidationMessageFor(model => model.Violators[item.Key])
    </label>
    <br />
}