﻿@model ProductManager.Models.EditCollectionValueViewModel

<tr>
    <td>
        @Html.EditorForManyIndexField(x => x.Index)
        @Html.EditorFor(x => x.Value)
    </td>
    <td>
        @Html.EditorFor(x => x.CollectionIndex)
    </td>
    <td>
        <button type="button" class="btn fa fa-remove" onclick="removeValue($(this))"></button>
    </td>
</tr>