﻿@model ProductManager.Models.CopyStep2ViewModel

<h2 class="text-light">Select Sizes</h2>
<hr class="thin bg-grayLighter">
<form action="/CreateProduct/CopyStep2" method="post" page="#step2" targetpage="#step3" id="step2Form">
    <div class="grid">
        <div class="row cells2">
            <div class="cell">
                <h3 class="text-light">Copy Sizes</h3>
                <ul class="checkList sizeList">
                    @foreach (var size in Model.CopySizes)
                    {
                        <li>
                            <label class="checkItem">@Html.CheckBoxFor(x => x.CopySizes[size.Key]) @size.Key</label>
                        </li>
                    }
                </ul>
            </div>
            <div class="cell">
                <h3 class="text-light">New Sizes</h3>
                <ul class="checkList sizeList">
                    @foreach (var size in Model.NewSizes)
                    {
                        <li>
                            <label class="checkItem">@Html.CheckBoxFor(x => x.NewSizes[size.Key]) @size.Key</label>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</form>