﻿@model ProductManager.Models.CopyStep3ViewModel

<h2 class="text-light">Select Fields to Copy</h2>
<hr class="thin bg-grayLighter">
<form action="/CreateProduct/CopyStep3" method="post" page="#step3" targetpage="#step4" id="step3Form">
    <ul id="fieldList" class="checkList columns">
        @foreach (var field in Model.Fields)
        {
            <li>
                <label class="checkItem">@Html.CheckBoxFor(x => x.Fields[field.Key]) @field.Key</label>
            </li>
        }
    </ul>
    <hr class="thin bg-grayLighter">

    <ul id="extraData">
        <li>
            <label class="checkItem">@Html.CheckBoxFor(x => x.Features) Features</label>
        </li>
        <li>
            <label class="checkItem">@Html.CheckBoxFor(x => x.CrossReferencs) Cross References</label>
        </li>
        <li>
            <label class="checkItem">@Html.CheckBoxFor(x => x.Measurements) Measurements</label>
        </li>
    </ul>
</form>