﻿@model ProductManager.Models.NewItemsViewModel

@section Scripts{
 
    <script type="text/javascript">
        function addItem() {
            $.ajax({
                type: "GET",
                url: "/CreateProduct/AddItem/",
                success: function (responseText) {
                    $("#itemTable").append(responseText);
                },
                error: function (errorData) { onError(errorData); }
            });
        }

        function toggleCopyList(el) {
            if (el.checked) {
                $(el).parent().siblings(".select").show();
            } else {
                $(el).parent().siblings(".select").hide();
            }
        }

        function removeItem(el) {
            $(el).closest('tr').remove();
        }
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <table id="itemTable" class="table cell-hovered border bordered">
            <thead>
                <tr>
                    @if (Model.IsCopy)
                    {
                        <th>
                            Copy
                        </th>
                    }
                    <th>
                        Size
                    </th>
                    <th>
                        SKU
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForMany(x => x.NewItems, x => x.Index)
            </tbody>

        </table>

        <button type="button" class="button" onclick="addItem()"><span class="fa fa-plus"></span> Add Item</button>

        <div class="place-right">
            <button class="button" name="btnPrev">Prev</button>
            <button class="button" name="btnNext">Next</button>
        </div>
    </div>
}