﻿@model ProductManager.Models.FeatureViewModel

<tr>
    <td>
        @Html.EditorForManyIndexField(x => x.Index)
        @Html.TextAreaFor(x => x.Value, new { rows = 1 })
        @Html.HiddenFor(x => x.BasePartNumber)
    </td>
    <td>
        @Html.EditorFor(x => x.Rank)
    </td>
    <td>
        <button type="button" class="btn fa fa-remove" onclick="removeFeature($(this))"></button>
    </td>
</tr>