﻿@model ProductManager.Models.WebFacetViewModel

@Html.HiddenFor(x => x.ID)
<label class="input-control checkbox">
    @Html.CheckBoxFor(model => model.Selected)
    <span class="check"></span>
    <span class="caption">@Model.Value</span>
</label>
