﻿@model ProductManager.Models.FilteredReportsViewModel

@{
    ViewBag.Title = "View";
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.numeric.min.js"></script>
    <script type="text/javascript" src="~/Scripts/select2.full.min.js"></script>
    <script type="text/javascript">
        $(".select2").select2();
    </script>

}
<link rel="stylesheet" href="~/Content/metro.min.css">
<link rel="stylesheet" href="~/Content/metro-icons.min.css">
<link rel="stylesheet" href="~/Content/metro-schemes.min.css">
<link rel="stylesheet" href="~/Content/metro-responsive.min.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/jquery-ui.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<h2>Reporting</h2>
@using (Html.BeginForm()) { 

        <input type="submit" name="newTemplate" id="newTemplate" value="Download Listing" />
        <h3>Filters</h3>
        <div class="row cell">
            <div class="col-md-6">
                <div>
                    @Html.LabelFor(x=>Model.SKUList)
                </div>
                @Html.TextAreaFor(x=>Model.SKUList, new { style = "width:100%" })
            </div>
        </div>
        <div class="row cell">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(x => Model.Divisions)
                </div>
                @Html.DisplayFor(x => Model.Divisions)
                @Html.ListBoxFor(x=>Model.Divisions,
                          Model.DivisionOptions.Select(x => new SelectListItem()
                          {
                              Text = x.ToString(),
                              Value = x.ToString()
                          }), new { @class = "select2", multiple = "multiple", style = "width:75%" })
            </div><div class="col-md-4">
                <div>
                    @Html.LabelFor(x => Model.ProductTypes)
                </div>
                @Html.DisplayFor(x => Model.ProductTypes)
                @Html.ListBoxFor(x=>Model.ProductTypes,
                          Model.ProductTypeOptions.Select(x => new SelectListItem()
                          {
                              Text = x.ToString(),
                              Value = x.ToString()
                          }), new { @class = "select2", multiple = "multiple", style = "width:75%" })
            </div>
            <div class="col-md-4">
                <div>@Html.LabelFor(x => Model.ProductCategory)</div>
                @Html.DisplayFor(x => Model.ProductCategory)
                @Html.ListBoxFor(x=>Model.ProductCategory,
                          Model.ProductCategoryOptions.Select(x => new SelectListItem()
                          {
                              Text = x.ToString(),
                              Value = x.ToString()
                          }), new { @class = "select2", multiple = "multiple", style = "width:75%" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>@Html.LabelFor(x => Model.Brand)</div>
                @Html.DisplayFor(x => Model.Brand)
                @Html.ListBoxFor(x=>Model.Brand,
                          Model.BrandOptions.Select(x => new SelectListItem()
                          {
                              Text = x.ToString(),
                              Value = x.ToString()
                          }), new { @class = "select2", multiple = "multiple", style = "width:75%" })
            </div>
            <div class="col-md-6">
                <div>@Html.LabelFor(x => x.CountryOfOrigin)</div>
                @Html.ListBoxFor(x => x.CountryOfOrigin,
                Model.CountryOfOriginOptions.Select(x => new SelectListItem()
                {
                    Text = x.ToString(),
                    Value = x.ToString()
                }), new { @class = "select2", multiple = "multiple", style = "width:75%" })
            </div>
        </div>
        <br />
        <br />
        <hr />
        <h3>Select Columns</h3>
        <div class="row">
            @foreach (var opt in Model.ColumnOptions)
            {
                <div class="col-md-2">
                    <input type="checkbox" name="SelectedColumns" value="@opt" />
                    @Html.Label(opt)
                </div>
            }
        </div>
        }

