﻿html, body {
    height: 100%;
}

body {
    width: 100%;
}

.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    height: 100%;
    position: relative;
}

#cell-content {
    display: none;
}

@media screen and (max-width: 800px) {
    #cell-sidebar {
        flex-basis: 52px;
    }

    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}

.ui-menu {
    max-height: 250px;
    overflow-y: hidden;
}

.no-header {
    padding-top: 0;
}

.scroll {
    overflow: scroll;
}

.product-page-content {
    padding-top: 7.0rem !important;
}

.product-header {
    height: 7.0rem !important;
    position: absolute;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

#product-image {
    height: 100%;
    width: auto;
    padding-right: 10px;
}

.input-control textarea {
    min-height: 2.0rem !important;
}

.content-pad-15 {
    padding: 15px;
}

#cell-content {
    padding-top: 0px !important;
}

.justify-right {
    text-align: right;
}

.clickable-row {
    cursor: pointer;
}

.table.hovered tbody tr:hover {
    background-color: rgba(28, 183, 236, 0.3) !important;
}

.ui-autocomplete {
    overflow-x: hidden;
    overflow-y: scroll;
}

.app-bar-drop-container::before {
    background-color: #fff !important;
    border-color: #3c3f41;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.login-form {
    width: 25rem;
    height: 20rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}


#selectListDialog {
    padding: 10px;
}

#tbSelectList {
    min-height: 200px;
    width: 100%;
}

#btnCreateReport, #btnGetTemplate {
    z-index: 999;
}

#checkBoxArea {
    position: absolute;
    width: 85%;
    height: 70%;
}

#extraData {
    list-style: none;
    padding-left: 0px;
}

#skuList {
    list-style: none;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    padding-left: 0px;
}

#fieldList {
    list-style: none;
    overflow-y: auto;
    padding-left: 0px;
}

.checkItem {
    cursor: pointer;
}

.columns {
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
    /*remove standard list and bullet formatting from ul*/
.columns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    /* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child {
    margin-top: 0px;
}

.upper-case {
    text-transform:uppercase;
}

.ui-widget-header {
    background: none !important;
}