﻿@model ProductManager.Models.EditCollectionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@section Scripts{
 
    <script type="text/javascript">
        function addValue() {
            $.ajax({
                type: "GET",
                url: "/Collection/AddValue/",
                success: function (responseText) {
                    $("#valueTable").append(responseText);
                },
                error: function (errorData) { onError(errorData); }
            });
        }

        function removeValue(el) {
            var result = confirm("Are you sure you want to delete this value?");
            if (result) {
                $(el).closest('tr').remove();
            }
        }
    </script>
      
}

<h2>Edit Collection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <table id="valueTable" class="table cell-hovered border bordered">
            <thead>
                <tr>
                    <th>
                        Value
                    </th>
                    <th>
                        Index
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForMany(x => x.Values, x => x.Index, false)
            </tbody>

        </table>

        <button type="button" onclick="addValue()">Add Value</button>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
