﻿@model IEnumerable<ProductManager.Models.EditCollectionViewModel>

@section Scripts {
    <script type="text/javascript">
        function editCollection(id) {
            window.location.href = '/Collection/Edit?id=' + id;
        }
    </script>    
}

<table class="table hovered border bordered striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Value Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable-row" onclick="editCollection('@item.ID')">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Values.Count)
            </td>
        </tr>
    }

</table>
