﻿@model ProductManager.Models.EditPackSizePackagingViewModel

@{
    ViewBag.Title = "Edit Packaging";
}

@Html.AntiForgeryToken()

<form class="trackSaveForm" action="/EditProduct/EditPackaging" method="post" targetpage='#@(Model.SKU.Replace("/", "slash").Replace(" ", "space") + "packaging")'
      message="Saved Successfully|The packaging for @Model.SKU was saved">
    @Html.HiddenFor(model => model.SKU)
    <div class="grid" style="width:100%">
        <div class="row cell-auto-size">
            <div class="cell">
                @Html.LabelFor(x => x.TagAssembly)
                <div class="input-control select full-size">
                    @Html.DropDownListFor(x => x.TagAssembly,
                    Model.TagAssemblyOptions.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }))
                </div>
                @Html.LabelFor(x => x.Display)
                <div class="input-control select full-size">
                    @Html.ListBoxFor(x => x.DisplayTypesSelected,
                    Model.DisplayTypeOptions.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }), new { @class = "select2", multiple = "multiple", style = "display:none; width:100%" })
                </div>
            </div>
            <div class="cell">
                @Html.LabelFor(x => x.WarningLabel)
                <div class="input-control select full-size">
                    @Html.ListBoxFor(x => x.WarningLabelsSelected,
                    Model.WarningLabelOptions.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }), new { @class = "select2", multiple = "multiple", style = "display:none; width:100%" })
                </div>
                @Html.LabelFor(x => x.Violator)
                <div class="input-control select full-size">
                    @Html.ListBoxFor(x => x.ViolatorsSelected,
                    Model.ViolatorOptions.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }), new { @class = "select2", multiple = "multiple", style = "display:none; width:100%" })
                </div>
            </div>
        </div>
    </div>
</form>