﻿@model ProductManager.Models.PackSizePagerViewModel

<div id="itemPager">
    <label>Select Pack Size</label><br />
    <div class="input-control select">
        <select id="itemDropDown" autocomplete="off">
            @for (int i = 0; i < Model.Editors.Count; i++)
            {
                <option value='@Model.Editors[i].Details.SKU.Replace("/", @"slash").Replace(" ", "space")'>@Model.Editors[i].Details.SKU</option>
            }
        </select>
    </div>
    <button class="button" onclick="showDialog('#createPackDialog', 'Create Pack Size', 'fa-cube', 350, 300)">
        <span class="fa fa-plus"></span> Create Pack Size
    </button>
    <hr class="thin bg-grayLight">
</div>
<div id="packEditorContainer">
    @for (int i = 0; i < Model.Editors.Count; i++)
    {
        Html.RenderPartial("_PackSizeEditorPartial", Model.Editors[i], new ViewDataDictionary { { "index", i } });
    }
</div>

<div class="content-pad-15 popup" id="createPackDialog">

    <form id="createPackSizeForm" action="/EditProduct/CreatePackSize" method="post" targetpage="#packSizeDetailsPage"
          message="Created Successfully|The pack size was created" enctype="multipart/form-data">
        <br />
        <div class="input-control select full-size">
            @Html.Label("Size")
            @Html.DropDownList("size",
                    Model.SizeOptions.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }))
        </div>
        <br />
        <br />

        <div class="input-control text full-size" data-role="input">
            @Html.Label("SKU")
            @Html.TextBox("sku", Model.BasePartNumber + "/",  new { id = "packSizeSKU" })
        </div>
        <br />

        @Html.HiddenFor(x => x.BasePartNumber)

        <button type="button" class="button place-right" onclick="createPackSize()">Create</button>
    </form>
</div>