﻿@model ProductManager.Models.SAPHierarchyViewModel

@Html.HiddenFor(x => x.Root)
<div class="input-control select full-size">
    @Html.ListBoxFor(x => x.BreadCrumb,
                    Model.BreadCrumb.Select(x => new SelectListItem()
                    {
                        Text = x.ToString(),
                        Value = x.ToString()
                    }), new { id = "hierarchyCrumbs", @class = "select2", multiple = "multiple", style = "display:none; width:100%", @readonly = "readonly" })
</div>
<br />
<div class="input-control select full-size" style="height:160px">
    <select multiple style="height:100%" id="hierOptions">
        @foreach (var option in Model.Options)
        {
            <option value="@option.Key">@option.Value</option>
        }
    </select>
</div>
<br />
<button class="button" type="button" onclick="loadHierarchyOptions('@(Model.Root.Length >= 3 ? Model.Root.Substring(0, Model.Root.Length - 3) : "")')"
        style="display: @(Model.Root.Length >= 3 ? "inline" : "none")">Back</button>
<button class="button place-right" type="button" onclick="selectHierarchy()">Select</button>