﻿@model ProductManager.Models.EditProductViewModel
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.numeric.min.js"></script>
    <script type="text/javascript" src="~/Scripts/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pm.crossreferences.js"></script>
    <script type="text/javascript" src="~/Scripts/pm.features.js"></script>
    <script type="text/javascript" src="~/Scripts/pm.photo.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(function () {
            dialog = $("#dialog-form").popup({
                autoOpen: false,
                height: 700,
                width: 600,
                modal: true,
                draggable: true,
                buttons: {
                    Cancel: function () {
                        dialog.popup("close");
                    },
                    Change: function () {
                        window.location = '/Reporting/GetMeasurementReport/?basePart=@Model.BasePartNumber';

                        var $form = $("#changeProfileForm");
                        $.ajax({
                            type: $form.attr('method'),
                            url: $form.attr('action'),
                            data: $form.serialize(),
                            async: false,
                            success: function (data) {
                                if (data) {
                                    pushMessage("success", $form.attr('successmessage'));
                                    $($form.attr('targetpage')).html(data);
                                    dialog.popup("close");
                                    load();
                                } else {
                                    pushMessage("alert", $form.attr('failmessage'));
                                }
                            }
                        });
                    }
                },
                close: function () {
                }
            });

            $('#prop65Check').change(function () {
                showHideProp65();
            });

            $(document).on('change', '#profileList', function () {
                loadDimensions($(this).val());
            });

            $("input.htscode").mask("0000 00 0000");
            $("input.gtin").mask("##############");
            $("input.integer").mask("#");
            $("input.numeric").numeric();
            $(".select2").select2();
            $('#editProductForm').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            load();
            $(window).bind('beforeunload', function () {
                var changes = false;
                $(".trackSaveForm").each(function (index) {
                    if ($(this).isChanged()) {
                        changes = true;
                    }
                });
                if (changes) {
                    pushMessage("alert", "Changes Pending|Unsaved data will be lost", 15000);
                    return "Do you want to leave?";
                }
            });


            @if (!User.IsInRole("Edit Product"))
            {
                @:$(':input').attr('readonly', 'readonly');
            }

            initFileDrop();
        });

        function showHideProp65() {
            if ($('#prop65Check').is(":checked")) {
                $("#prop65Chems").show();
            } else {
                $("#prop65Chems").hide();
            }
        }

        function loadDimensions(profileName) {
            $.ajax({
                url: "/DimensionProfile/DimensionList",
                data: {
                    profileName: profileName
                },
                success: function (data) {
                    var options = $(".toDimensions");
                    options.empty();

                    // add don't map option
                    options.append($("<option />").val('').text('Do Not Map'));

                    $.each(data, function () {
                        options.append($("<option />").val(this.ID).text(this.Name));
                    });

                    options.each(function () {
                        var dropDown = $(this);
                        var row = dropDown.closest("tr");
                        var dimName = row.find(".dimensionName").text();

                        // select potential matching options
                        var match = false;
                        $("option", dropDown).each(function () {
                            if (dimName == $(this).text()) {
                                $(this).prop('selected', true);
                                match = true;
                            }
                        });

                        if (!match) {
                            dropDown.val('');
                        }
                    });
                }
            });
        }

        function changeDimensionProfile() {
            dialog.popup("open");
            $.ajax({
                url: '/EditMeasurement/ChangeDimensionProfile',
                type: 'GET',
                data: {
                    partNumber: '@Model.BasePartNumber'
                },
                success: function (data) {
                    $('#dialog-form').html(data);
                    loadDimensions($("#dimensionProfileName").val());
                }
            });
        }

        function initFileDrop() {
            var start, end;
            $('#dropZone').filedrop({
                url: '/File/UploadFiles',
                paramname: 'file',
                maxFiles: 5,
                data: {
                    basePart: '@Model.BasePartNumber'
                },
                dragOver: function () {
                    $('#dropZone').css('background', 'blue');
                },
                dragLeave: function () {
                    $('#dropZone').css('background', 'gray');
                },
                drop: function () {
                    $('#dropZone').css('background', 'gray');
                    start = +new Date();
                },
                afterAll: function () {
                    end = +new Date();
                    var test = ((end - start) / 1000) % 60;
                    $('#dropZone').html('The file(s) have been uploaded successfully! <br />Total Time: ' + test + " seconds");
                },
                uploadFinished: function (i, file, response, time) {
                    $("#filePage").html(response);
                    initFileDrop();
                }
            });
            start = "";
            end = "";
            $('#dropimage').filedrop({
                url: '/Photo/CreateImages',
                paramname: 'file',
                maxFiles: 10,
                data: {
                    basePart: '@Model.BasePartNumber',
                },
                dragOver: function () {
                    $('#dropimage').css('background', 'blue');
                },
                dragLeave: function () {
                    $('#dropimage').css('background', 'gray');
                },
                drop: function () {
                    $('#dropimage').css('background', 'gray');
                    start = +new Date();
                },
                afterAll: function () {
                    end = +new Date();
                    var test = ((end - start) / 1000) % 60;
                    $('#dropimage').html('The Photo(s) have been uploaded successfully! <br />Total Time: ' + test + " seconds");
                },
                uploadFinished: function (i, file, response, time) {
                    $("#photosPage").html(response);
                    initFileDrop();
                }
            });
        }

        function viewNoteDetail(id) {
            $.ajax({
                url: "/Note/Detail",
                data: { id: id },
                success: function (data) {
                    $("#noteDetail").html(data);
                    showDialog('#noteDetailDialog', 'View Note', 'fa-sticky-note-o', 600, 350)
                }
            });
        }

        function viewHistoryDetail(id) {
            $.ajax({
                url: "/History/Detail",
                data: { id: id },
                success: function (data) {
                    $("#historyDetail").html(data);
                    showDialog('#historyDetailDialog', 'View History Item', 'fa-history', 600, 500)
                }
            });
        }

        function activateTab(pageId) {
            var tabCtrl = document.getElementById('cell-content');
            var pageToActivate = document.getElementById(pageId);
            for (var i = 0; i < tabCtrl.childNodes.length; i++) {
                var node = tabCtrl.childNodes[i];
                if (node.nodeType == 1) {
                    node.style.display = (node == pageToActivate) ? 'block' : 'none';
                }
            }
        }

        function load() {
            $("#itemDropDown").change(function () {
                var that = $(this);
                var page = document.getElementById('packEditorContainer');
                var pageToActivate = document.getElementById(that.val());
                $(page).children("div").each(function () {
                    $(this).toggle(this == pageToActivate);
                })
                $("#itemPager").show();
            });

            $("#saveButton").hide();
            $(".trackSaveForm").trackChanges();
            $.ajax({
                url: "/History/Index",
                data: { partNumber: '@Model.BasePartNumber' },
                success: function (data) {
                    $("#historyPage").html(data);
                }
            });
            $(".select2").select2();

            $('.popup').popup({
                autoOpen: false
            });
            $('.popup').popup('close');
        }

        function saveNote() {
            var $form = $("#noteForm");
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                async: false,
                success: function (data) {
                    if (!data.fail) {
                        pushMessage("success", $form.attr('message'));
                        $($form.attr('targetpage')).html(data);
                        load();
                    } else {
                        $('#noteDialog').html(data.view);
                    }
                }
            });
        }

        function createPackSize() {
            var $form = $("#createPackSizeForm");
            var formdata = new FormData($form.get(0));
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: formdata,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    var sku = $("#packSizeSKU").val().toUpperCase().replace("/", "slash").replace(" ", "space");
                    pushMessage("success", $form.attr('message'));
                    $($form.attr('targetpage')).html(data);
                    load();

                    $("#itemDropDown").val(sku).change();
                }
            });
        }

        function addSize() {
            var $form = $("#addSizeForm");
            var formdata = new FormData($form.get(0));
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: formdata,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    pushMessage("success", $form.attr('message'));
                    $($form.attr('targetpage')).html(data);
                    load();
                }
            });
        }

        function generateVendorSpec() {
            var $form = $('#vendorSpecForm');
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                async: false,
                success: function (data) {
                    pushMessage("success", $form.attr('message'));
                    $($form.attr('targetpage')).html(data);
                },
                error: function () {
                    pushMessage("error", $form.attr('Save Failed'));
                }
            });
        }

        function generateCustomerSpec() {
            var $form = $('#customerSpecForm');
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                async: false,
                success: function (data) {
                    pushMessage("success", $form.attr('message'));
                    $($form.attr('targetpage')).html(data);
                },
                error: function () {
                    pushMessage("error", $form.attr('Save Failed'));
                }
            });
        }

        function removeFile(id) {
            var result = confirm("Are you sure you want to delete this file?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/File/Delete/",
                    data: { id: id },
                    success: function (data) {
                        pushMessage("success", "The file was deleted");
                        $("#filePage").html(data);
                    },
                    error: function (data) {
                        pushMessage("error", "Something went wrong");
                        $("#filePage").html(data);
                    }
                });
                load();
            }
        }

        $.fn.extend({
            trackChanges: function () {
                $(":input", this).change(function () {
                    $("#saveButton").show();
                    $(this.form).data("changed", true);
                });
                $(":input", this).keyup(function () {
                    $("#saveButton").show();
                    $(this.form).data("changed", true);
                });
            },
            isChanged: function () {
                return this.data("changed");
            }
        });

        $("#saveButton").click(function () {
            var somethingChanged = false;
            //alert("button clicked");
            $(".trackSaveForm").each(function (index) {

                // update product modified
                $.ajax({
                    type: 'post',
                    url: '/EditProduct/SetProductChanged',
                    data: {
                        basePartNumber: '@Model.BasePartNumber'
                    }
                });
                //alert("save form tracked");
                var $form = $(this);
                if ($form.isChanged()) {
                    
                    $.ajax({
                        type: $form.attr('method'),
                        url: $form.attr('action'),
                        data: $form.serialize(),
                        async: false,
                        success: function (data) {
                            pushMessage("success", $form.attr('message'));
                            $($form.attr('targetpage')).html(data);
                            //alert("save successful");
                        },
                        failure: function () { alert(xhr.status+"  "+xhr.responseText); },
                        error: function () {
                            pushMessage("error", $form.attr('Save Failed'));
                          
                            //alert("save failed");
                        }
                    });
                }
            });
            load();
        });

        function showDialog(id, title, iconClass, width, height) {
            var dialog = $(id).popup({
                autoOpen: true,
                height: height,
                width: width,
                modal: true,
                draggable: true,
                title: "<span class='icon fa " + iconClass + "'></span> " + title
            });
        }

        function showHierarchyControl() {
            $("#hierarchy").show();
            $("#hierarchy").position({
                my: "center",
                at: "center",
                of: window
            });
            $('#hierarchy').off('dblclick').on('dblclick', function (e) {
                var val = $("#hierOptions option:selected").val();
                loadHierarchyOptions(val);
            });

            var val = $("#sapHierarchy").val();
            if (val) {
                loadHierarchyOptions(val.substring(0, val.length >= 3 ? val.length - 3 : 0));
            } else {
                loadHierarchyOptions("");
            }
        }

        function loadHierarchyOptions(root) {
            $.ajax({
                url: "/EditProduct/SAPHierarchyOptions",
                method: "post",
                data: { root: root },
                success: function (data) {
                    if (data.anyMore) {
                        $("#hierarchy").html(data.view);
                        $("#hierarchyCrumbs").select2().enable(false);
                    }
                }
            });
        }

        function selectHierarchy() {
            var val = $("#hierOptions option:selected").val();
            if (val) {
                $("#sapHierarchy").val(val);
                $("#sapHierarchyHidden").val(val);
                $("#hierarchy").hide();
                $("#saveButton").show();
                $("#sapHierarchy").closest("form").data("changed", true);
            } else {
                alert("Please click on a hierarchy level to select")
            }
        }

        $("#Division").change(function () {
            var newOptions = Array();
            if ($(this).val() == "Retail" || $(this).val() == "Both") {
                newOptions = [
                    "",
                    "Gloves",
                    "Apparel",
                    "Accessories",
                    "PPE"
                ];
            } else if ($(this).val() == "Industrial") {
                newOptions = [
                    "",
                    "Gloves",
                    "Apparel",
                    "PPE"
                ];
            } else {
                newOptions = [
                    "",
                    "Gloves",
                    "Apparel"
                ];
            }
            $('option', '#ProductType').remove();
           
            newOptions.forEach(function (txt) {
                $("#ProductType").append("<option value='" + txt + "'>" + txt + "</option>");
            });
        });







        $("#ProductType").change(function () {
            var newOptions = Array();
            if ($("#Division").val() == "Retail" || $("#Division").val() == "Both") {
                if ($(this).val() == "Gloves") {
                    newOptions = [
                        "",
                        "General Purpose",
                        "Leather",
                        "Coated",
                        "Performance/ Hi Dex",
                        "Chemical",
                        "Lawn & Garden",
                        "Winter",
                        "Disposable"
                    ];
                } else if ($(this).val() == "Apparel") {
                    newOptions = [
                        "",
                        "Rainwear",
                        "Safety Apparel",
                        "Disposable Clothing"
                    ];
                } else if ($(this).val() == "Accessories") {
                    newOptions = [
                        "",
                        "Umbrella",
                        "Garden Accessories",
                        "Winter Accessories"
                    ];
                } else {
                    newOptions = [
                        "",
                        "Hard Hat",
                        "Safety Equipment",
                        "Respiration",
                        "Ear Protection",
                        "Eye Protection"
                    ];
                }
            } else if ($("#Division").val() == "Industrial") {
                if ($(this).val() == "Gloves") {
                    newOptions = [
                        "",
                        "Coated",
                        "Cut Resistant",
                        "Leather",
                        "Performance/ Hi Dex",
                        "General Purpose",
                        "Chemical Resistant",
                        "Disposable",
                        "Winter"
                    ];
                } else if ($(this).val() == "Apparel") {
                    newOptions = [
                        "",
                        "Boufant/ booties/ etc.",
                        "Disposable Clothing",
                        "Rainwear",
                        "Safety Apparel",
                        "Sleeves"
                    ];
                } else {
                    newOptions = [
                        "",
                        "Hard Hat",
                        "Safety Equipment",
                        "Respiration",
                        "Ear Protection",
                        "Eye Protection"
                    ];
                }
            } else {
                if ($(this).val() == "Gloves") {
                    newOptions = [
                        "",
                        "Stick",
                        "Tig",
                        "Mig",
                        "General Purpose"
                    ];
                } else {
                    newOptions = [
                        "",
                        "Boot Covers",
                        "Greens/ Apparel",
                        "Leather"
                    ];
                }
            }
            $('option', '#ProductCategory').remove();

            newOptions.forEach(function (txt) {
                $("#ProductCategory").append("<option value='" + txt + "'>" + txt + "</option>");
            });
        });
    </script>
}
<div class="product-header">
    <a href="javascript: void(0)" onclick="changePrimaryPhoto()">
        <img id="product-image" class="place-left" src='../../Content/images/ProductImages/Thumbnails/@Model.ImagePath' onerror="this.src = '../../Content/images/ProductImages/Thumbnails/default.png'" />
    </a>
    <button id="saveButton" style="z-index: 100" class="shortcut-button bg-active-darkBlue place-right">
        <span class="icon fa fa-save"></span>
        <span class="title">Save</span>
    </button>
    <h5 class="place-right justify-right">
        Created: @Model.Created.ToShortDateString()<br />
        Modified: @Model.Modified.ToShortDateString()
    </h5>
    <h1>Style: @Model.BasePartNumber</h1>
    <h5>Active Sizes: @string.Join(", ", Model.Sizes)</h5>
</div>
<div class="page-content product-page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                <ul class="sidebar">
                    <li class="active">
                        <a href="javascript:activateTab('productDetailsPage')">
                            <span class="fa fa-list icon"></span>
                            <span class="title">product details</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('packSizeDetailsPage')">
                            <span class="fa fa-cubes icon"></span>
                            <span class="title">pack size details</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('constructionPage')">
                            <span class="fa fa-puzzle-piece icon"></span>
                            <span class="title">construction</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('measurementsPage')">
                            <span class="fa fa-table icon"></span>
                            <span class="title">product meas.</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('websitePage')">
                            <span class="fa fa-globe icon"></span>
                            <span class="title">web presence</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('filePage')">
                            <span class="fa fa-file-o icon"></span>
                            <span class="title">files</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('photosPage')">
                            <span class="fa fa-photo icon"></span>
                            <span class="title">photos</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('notesPage')">
                            <span class="fa fa-sticky-note-o icon"></span>
                            <span class="title">notes</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('historyPage')">
                            <span class="fa fa-history icon"></span>
                            <span class="title">history</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:activateTab('specSheetPage')">
                            <span class="fa fa-file-text-o icon"></span>
                            <span class="title">spec sheet</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cell auto-size padding20 bg-white scroll" id="cell-content">
                <div id="productDetailsPage" style="display: block;">@{Html.RenderAction("EditProductDetails", new { partNumber = Model.BasePartNumber });}</div>
                <div id="packSizeDetailsPage" style="display: none;">@{Html.RenderAction("PackSizePager", new { partNumber = Model.BasePartNumber });}</div>
                <div id="constructionPage" style="display: none;">@{Html.RenderAction("EditConstruction", new { partNumber = Model.BasePartNumber });}</div>
                <div id="measurementsPage" style="display: none;">@{Html.RenderAction("EditProductMeasurements", "EditMeasurement", new { partNumber = Model.BasePartNumber });}</div>
                <div id="websitePage" style="display: none;">@{Html.RenderAction("EditWebsitePresence", new { partNumber = Model.BasePartNumber });}</div>
                <div id="filePage" style="display: none;">@{Html.RenderAction("Index", "File", new { partNumber = Model.BasePartNumber });}</div>
                <div id="photosPage" style="display: none;">@{Html.RenderAction("Index", "Photo", new { partNumber = Model.BasePartNumber });}</div>
                <div id="notesPage" style="display: none;">@{Html.RenderAction("Index", "Note", new { partNumber = Model.BasePartNumber });}</div>
                <div id="historyPage" style="display: none;">@{Html.RenderAction("Index", "History", new { partNumber = Model.BasePartNumber });}</div>
                <div id="specSheetPage" style="display: none;">@{Html.RenderAction("Index", "SpecSheet", new { partNumber = Model.BasePartNumber });}</div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-form" title="Change Dimension Profile">

</div>