﻿
@{
                /**/

                ViewBag.Title = "setRetailActive";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>setRetailActive</h2>

<form name='idForm' id='idForm' action="/EditProduct/setRetailActive" method="post">
    @Html.DisplayName("Full File Path")
    @Html.TextBox("filepath")
    <input type="submit" name="submit" id="submit" value="submit" />
</form>