﻿@model ProductManager.Models.ProductMassCreateViewModel

@{
    ViewBag.Title = "Bulk Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function getTemplateFile() {
        $.ajax({
            type: "POST",
            url: "/Product/GetBulkTemplate",
            success: function (msg) {
                // Do something interesting with msg.d here.
                window.open("/Product/DownloadBulkEditFile");
            },
            error: function (jqxhr, textstatus, err) {
                alert(err);
            }

        });
    }
    function getTemplateFileSKU() {
        $.ajax({
            type: "POST",
            url: "/Product/GetBulkTemplateBySKU",
            success: function (msg) {
                // Do something interesting with msg.d here.
                window.open("/Product/DownloadBulkEditFileBySKU");
            },
            error: function (jqxhr, textstatus, err) {
                alert(err);
            }

        });
    }
    function getTemplateFileSKURedux() {
        $.ajax({
            type: "POST",
            url: "/Product/GetBulkTemplateBySKURedux",
            success: function (msg) {
                // Do something interesting with msg.d here.
                window.open("/Product/DownloadBulkEditFileBySKURedux");
            },
            error: function (jqxhr, textstatus, err) {
                alert(err);
                alert(textstatus);
                alert(JSON.stringify(jqxhr));
            }
        });
    }
</script>



<h2>Bulk Edit</h2>
@Html.Raw(ViewBag.Message)
<br />
<input type="button" name="newTemplate" id="newTemplate" onclick="getTemplateFile()" value="Download Listing"/>
<input type="button" name="newTemplate" id="newTemplate" onclick="getTemplateFileSKU()" value="Download SKU Listing" />
<input type="button" name="newTemplate" id="newTemplate" onclick="getTemplateFileSKURedux()" value="Download SKU Only Listing" />
<form id="noteForm" action="/Product/BulkEdit" method="post" enctype="multipart/form-data">
    @Html.Label("File To Upload")
    @Html.TextBoxFor(mod => Model.outfile, new { type = "file", name = "outfile" })

    <button type="submit" class="button">Upload</button>
</form>
