﻿@model IEnumerable<ProductManager.Entities.ProductShell>

@{
    ViewBag.Title = "Products";
}

@section Scripts
{
    <script type="text/javascript">
        function openProduct(partNumber) {
            var productWindow = window.open("/EditProduct/Index?partNumber=" + partNumber, partNumber, "location=0,menubar=0,status=0,scrollbars=1,width=1000,height=650");
            productWindow.focus();
        }

        function createProduct() {
            var productWindow = window.open("/CreateProduct/CreateProduct", "CreateProduct", "location=0,menubar=0,status=0,scrollbars=1,width=800,height=500");
            productWindow.focus();
        }

        function copyProduct() {
            var productWindow = window.open("/CreateProduct/CreateProductFromCopy", "CopyProduct", "location=0,menubar=0,status=0,scrollbars=1,width=800,height=500");
            productWindow.focus();
        }

        $(function () {
            $(".clickable-row").click(function () {
                openProduct($(this).data("product"));
            });
        })

        $('#searchForm').submit(function (event) {
            searchProducts();
            event.preventDefault();
        });

        function searchProducts() {
            var $rows = $('#productTable tr');
            var val = $.trim($("#search").val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        }

        $('#search').autocomplete({
            source: '@Url.Action("AutocompleteProduct")',
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function () {
                searchProducts();
            }
        });
        function DeleteProduct(basepartnumber) {
            if (confirm("Deletion of products is Permenant and CANNOT BE REVERSED.  ARE YOU SURE!?")) {
                $.ajax({
                    type: "POST",
                    url: "/Product/ProductDelete",
                    data: { deleteproduct: basepartnumber },
                    async: false,
                    success: function (data) {
                        $("#" + basepartnumber).hide();
                    },
                    failure: function (data) {
                        alert(JSON.stringify(data));
                    },
                    error: function (data) {
                        alert(JSON.stringify(data));
                    }

                });
            }
        }
    </script>
}

<h2>Products</h2>
<form id="searchForm">
    <div class="input-control text place-right">
        <input type="text" id="search" placeholder="Type to search">
        <button class="button"><span class="fa fa-search"></span></button>
    </div>
</form>

@{
    if (User.IsInRole("Create Product"))
    {
        <button class="button primary" onclick="createProduct()">
            <span class="fa fa-plus"></span>
            Create New
        </button>
        @*<button class="button primary" onclick="copyProduct()">
            <span class="fa fa-copy"></span>
        </button>*@
    }
}
<br />
<div id="products">
    <table id="productTable" class="table hovered border bordered striped">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Type
                </th>
                @{
                    if (User.IsInRole("Delete Product"))
                    {
                        <th>Delete</th>
                    }
                }
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var product in Model)
            {
            <tr id="@product.BasePartNumber">
                <td class="clickable-row" data-product="@product.BasePartNumber">
                    @Html.DisplayFor(modelItem => product.BasePartNumber)
                </td>
                <td class="clickable-row" data-product="@product.BasePartNumber">
                    @Html.DisplayFor(modelItem => product.DimensionProfileName)
                </td>
                @{
                    if (User.IsInRole("Delete Product"))
                    {
                        <td>
                            <button onclick="DeleteProduct('@product.BasePartNumber');">X</button>
                        </td>
                        }
                }
            </tr>
            }
        </tbody>
    </table>
</div>

