﻿@model ProductManager.Models.ProductMassCreateViewModel

@{
    ViewBag.Title = "MassCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MassCreate</h2>
@Html.Raw(ViewBag.Message)
<br />
<form id="noteForm" action="/Product/MassCreate" method="post" enctype="multipart/form-data">
    @Html.LabelFor(mod => Model.infile)
    @Html.TextBoxFor(mod => Model.infile, new { type="file", name="infile" })

    <button type="submit" class="button">Upload</button>
</form>