﻿@model ProductManager.Models.ResetPasswordViewModel

@section Scripts {

}

<div class="login-form padding20 block-shadow">
    <section id="loginForm">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h1 class="page-title text-light">Activate your account</h1>
            <hr class="thin" />
            <br />
            if (ViewData.ModelState.Any())
            {
                @Html.ValidationSummary(true)
                <br />
            }
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Code)
            <div class="input-control password full-size" data-role="input">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Login</button>
            </div>
        }
    </section>

</div>