﻿@model ProductManager.Models.EditAccountViewModel
@{
    ViewBag.Title = "Edit Account";
}

@using (Html.BeginForm("Edit", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h1 class="text-light">Edit User</h1>
    <hr class="thin" />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="grid">
        <div class="row cell-auto-size">
            <div class="cell">
                @Html.LabelFor(m => m.DisplayName)
                <div class="input-control text full-size" data-role="input">
                    @Html.TextBoxFor(m => m.DisplayName)
                    @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                    <button class="button helper-button clear"><span class="fa fa-close"></span></button>
                </div>
                <br />
            </div>
            <div class="cell">
                <ul id="roleList" class="checkList">
                    @foreach (var role in Model.Roles)
                    {
                        <li>
                            <label class="checkItem">@Html.CheckBoxFor(x => x.Roles[role.Key]) @role.Key</label>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.ID)
    <button type="submit" class="button primary">Update</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    #roleList {
        list-style: none;
        position: absolute;
        height: 100%;
        padding-left: 0px;
    }

    .checkItem {
        cursor: pointer;
    }
</style>