﻿@model IEnumerable<ProductManager.Models.AccountListViewModel>

@section Scripts {
    <script type="text/javascript">
        function createUser() {
            window.location.href = '/Account/Register';
        }
        function editUser(id) {
            window.location.href = '/Account/Edit?id=' + id;
        }
    </script>    
}

<h2>Users</h2>
<button class="button primary" onclick="createUser()">
    <span class="fa fa-plus"></span>
    Create New
</button>

<table class="table hovered border bordered striped">
    <tr>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable-row" onclick="editUser('@item.ID')">
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.ID)
                    <button type="submit" class="button fa fa-remove place-right"></button>
                }
            </td>
        </tr>
    }

</table>
