﻿@model IEnumerable<ProductManager.Entities.DimensionProfile>

@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        function editProfile(name) {
            window.location.href = '/DimensionProfile/Edit?name=' + name;
        }
    </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table hovered border bordered striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Dimension Count
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="clickable-row" onclick="editProfile('@item.Name')">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Dimensions.Count
                </td>
            </tr>
        }

    </table>
</body>
</html>
