﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Product Manager 3.0 beta</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/metro.min.css">
    <link rel="stylesheet" href="~/Content/metro-icons.min.css">
    <link rel="stylesheet" href="~/Content/metro-schemes.min.css">
    <link rel="stylesheet" href="~/Content/metro-responsive.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
</head>
<body class="bg-steel">
    @Html.Partial("_TopNavigation")

    <div class="page-content">

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/metro.min.js"></script>


        <script>
        function pushMessage(t) {
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function () {
            $('.sidebar').on('click', 'li', function () {
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
        </script>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>