﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Product Manager 3.0 beta</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/metro.min.css">
    <link rel="stylesheet" href="~/Content/metro-icons.min.css">
    <link rel="stylesheet" href="~/Content/metro-schemes.min.css">
    <link rel="stylesheet" href="~/Content/metro-responsive.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css">
</head>
<body class="bg-darkTeal">
    <div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell auto-size padding20" id="cell-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="~/Scripts/metro.min.js"></script>


        <script>
            function pushMessage(t, message) {
                $.Notify({
                    caption: message.split("|")[0],
                    content: message.split("|")[1],
                    type: t
                });
            }

            $(function () {
                $('.sidebar').on('click', 'li', function () {
                    if (!$(this).hasClass('active')) {
                        $('.sidebar li').removeClass('active');
                        $(this).addClass('active');
                    }
                })
            })
        </script>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $("#cell-content").fadeIn(2000);
        })
    </script>
</body>
</html>