﻿
<div class="app-bar fixed-top darcula" data-role="appbar">
    <a class="app-bar-element branding">Product Manager</a>
    <span class="app-bar-divider"></span>
    <ul class="app-bar-menu">
        <li>@Html.ActionLink("Products", "Index", "Product")</li>
        @if (User.IsInRole("Create Report"))
        {
            <li>@Html.ActionLink("Reporting", "Index", "FilteredReports")</li>
        }
        @if (User.IsInRole("Mass Edit"))
        {
            <li>@Html.ActionLink("Bulk Editing", "BulkEdit","Product")</li>
        }
        @if (User.IsInRole("Create User"))
        {
            <li>@Html.ActionLink("Users", "Index", "Account")</li>
        }
    </ul>

    <div class="app-bar-element place-right">
        @{
            var user = (ProductManager.Entities.ProductManagerUser)Session["user"];
            if (user != null)
            {
                <span class="dropdown-toggle"><span class="fa fa-user"></span> @user.DisplayName</span>
            }
        }
        <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-white1 bg-white" data-role="dropdown" data-no-close="true" style="width: 220px">
            <ul class="unstyled-list fg-dark no-margin-top no-margin-bottom">
                @*<li><a href="" class="fg-white1">Profile</a></li>*@
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="fg-white1">Log Out</a></li>
                }
            </ul>
        </div>
    </div>
</div>