﻿@model ProductManager.Models.ChangeDimensionViewModel

<tr>
    <td>
        <span class="dimensionName">@Model.Name</span>
        @Html.HiddenFor(x => x.ID)
    </td>
    <td>
        <div class="input-control select">
            @Html.DropDownListFor(x => x.ToID, new List<SelectListItem>(), new { @class = "toDimensions" })
        </div>
    </td>
</tr>